<footer>
  <div class="container">
    <div class="card footer-card">
      <div class="valign center-block">
        <p class="center-align dark-grey-text">Developed by Eduardo Oliveira</p>
      </div>
    </div>
  </div>
</footer>