<head>
  <title>
    Food Truck Finder
  </title>

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/custom.css">
</head>